.signUpForm {
    width: 100%;
    padding-top: 64px;
}

.signUpForm > div:first-child {
    margin-bottom: 32px;
}

.signUpForm__authGroup {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.signUpForm__authGroup__separator {
    padding: 32px 0;
    font-size: var(--text-size-large);
    color: var(--font-color-gray1);
    font-weight: var(--font-weight-regular);
    text-align: center;
}

.signUpForm__authGroup__googleImg {
    height: 22px;
    width: auto;
    margin-right: 16px;
}