.landingInfo {
    display: flex;
    flex-direction: column;
}

.landingInfo__imgContainer {
    position: relative;
    width: 100%;
    /*height: calc(100vh - 94px);*/
    overflow: hidden;
}

.landingInfo__imgContainer img {
    height: auto;
    width: 100%;
}

.landingInfo__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.landingInfo__overlay__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landingInfo__overlay__title h1 {
    font-weight: var(--font-weight-bold);
    color: var(--font-color-contrast);
}

.landingInfo__overlay__title h1:nth-of-type(1) {
    font-size: 2.25rem;
    margin-bottom: 16px;
}

.landingInfo__overlay__title h1:nth-of-type(2) {
    font-size: 3.5625rem;
    margin-bottom: 48px;
}

.landingInfo__overlay__title span {
    font-weight: var(--font-weight-bold);
}

.landingInfo__storyHighlight {
    display: flex;
    flex-direction: column;
    padding: 64px 0;
    background: rgb(255,244,240);
    background: linear-gradient(180deg, rgba(255,244,240,1) 0%, rgba(255,255,255,1) 100%);
    /*Image skip 2px at bottom event tho it's 100% height 🤷*/
    margin-top: -2px;
}

.landingInfo__storyHighlight__inner {
    display: flex;
    flex-direction: row;
}

.landingInfo__storyHighlight__inner__col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.landingInfo__storyHighlight__highlight {
    position: relative;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
}

.landingInfo__storyHighlight__highlight__backgroundRec {
    height: 75%;
    width: 75%;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius-medium);
}

.landingInfo__storyHighlight__highlight__overlay {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.landingInfo__storyHighlight__highlight__overlay__inner {
    z-index: 100;
    width: 87%;
    height: 88%;
    margin-left: auto;
}

.landingInfo__storyHighlight__span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 16px;
}

.landingInfo__storyHighlight__span button {
    padding-right: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 343px;
    }

    .landingInfo__storyHighlight__inner__col:nth-child(1) {
        display: none;
    }

    .landingInfo__imgContainer img {
        height: auto;
        transform: translate(-25%, 0);
        width: 200%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 544px;
    }

    .landingInfo__storyHighlight__inner__col:nth-child(1) {
        display: none;
    }

    .landingInfo__imgContainer img {
        height: auto;
        width: 150%;
        transform: translate(-15%, 0);
    }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    .container {
        max-width: 738px;
    }

    .landingInfo__storyHighlight__inner__col:nth-child(1) {
        display: none;
    }
}

@media screen and (min-width: 1080px) {
    .container {
        max-width: 1040px;
    }
}
