.bigIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigIcon__icon {
    font-size: 148px !important;
}

.bigIcon__iconPrimary {
    color: var(--font-color-link)
}

.bigIcon__iconMuted {
    color: #C4C4C4;
}

.bigIcon__iconSuccess {
    color: var(--font-color-status-success)
}

.bigIcon__iconError {
    color: var(--font-color-status-error)
}

.bigIcon__title {
    margin-top: 24px;
    font-size: var(--title-size-small);
    color: var(--font-color-gray1);
    font-weight: var(--font-weight-regular);
    text-align: center;
    max-width: 500px;
}