.storyHeader__title {
    font-size: var(--title-size-large);
    color: var(--font-color-secondary);
    font-weight: var(--font-weight-semiBold);
    text-align: center;
}

.storyHeader__author {
    font-size: var(--text-size-large);
    font-weight: var(--font-weight-semiBold);
    color: var(--font-color-gray1);
    margin-top: 64px;
}

.storyHeader__date {
    font-size: var(--text-size-large);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-gray1);
    margin-top: 8px;
}

.storyHeader__image {
    max-height: 680px;
    width: auto;
    max-width: 100%;
    margin: 64px 0;
}