.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 96px 16px;
}

.container > form:not(:first-child) {
    margin-top: 64px;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 795px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    .container {
        margin-left: 64px;
        margin-right: 64px;
    }
}

/* Extra large devices (large desktops, 1268px and up) */
@media screen and (min-width: 1080px) {
    .container {
        max-width: 1040px;
    }

    .container {
        margin-left: 64px;
        margin-right: 64px;
    }
}

