.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-medium);
    background-color: var(--primary-bg-color);
    border: 2px solid rgba(12, 117, 255, 0.2);
    transition: ease-in-out .16s;
    padding: 6px 12px;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn_inner, .btn_inner > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size-medium);
    font-weight: var(--font-weight-medium) !important;
    color: var(--font-color-secondary);
}

.btn_large {
    height: 50px;
    padding: 0 25px;
}

.btn_large > .btn_inner {
    font-size: var(--text-size-large);
    min-width: 150px;
}

.btn_primary, .btn_primary > .btn_inner, .btn_primary > .btn_inner > span {
    border: none;
    background-color: var(--tertiary-blue-bg-color);
    color: var(--font-color-contrast);
}

.btn_link, .btn_link > .btn_inner, .btn_link > .btn_inner > span {
    border: none;
    background-color: transparent;
    color: var(--font-color-link);
}

.btn_link:hover {
    background-color: transparent;
    color: var(--font-color-link);
}

.btn_focus_primary:focus {
    border-color: var(--font-color-link);
    box-shadow: 0 0 0 0.2rem rgba(12,117,255,.5);
}

.btn_focus_light:focus {
    border-color: var(--font-color-contrast);
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
}

.btn_shadow {
    transition: ease-in-out 0.12s;
    box-shadow: var(--shadow);
}

.btn_shadow:hover {
    transition: ease-in-out 0.12s;
    box-shadow: var(--shadow-active);
}

.btn_shadow:focus {
    transition: ease-in-out 0.12s;
    box-shadow: var(--shadow-active);
}
