.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input__errorMsg {
    font-size: var(--text-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-status-error);
    text-decoration: none;
    margin: 6px 0 0 0;
}

.input__span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.input__span__label {
    font-size: var(--text-size-large);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-secondary);
}

.input__span__link {
    font-size: var(--text-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-link);
    text-decoration: none;
}

.input__span__link:hover {
    text-decoration: underline;
    color: var(--font-color-linkActive);
}

.input__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    border: 2px solid var(--font-color-gray2);
    margin-bottom: 28px;
}

.input__container_disabled {
    background-color: rgba(196, 196, 196, 0.2);
}

.input__containerFocused {
    border: 2px solid var(--font-color-link);
}

.input__containerError {
    border: 2px solid var(--font-color-status-error);
    margin: 0;
}

.input__container__iconBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    color: var(--font-color-gray2);
}

.input__container__iconBox__icon {
    margin: 2px 0 0 8px;
    font-size: 24px;
}

.input__container__iconBox__iconFocused {
    color: var(--font-color-link);
}

.input__container__iconBox__iconError {
    color: var(--font-color-status-error);
}

.input__container__input {
    flex: 1;
    padding: 14px;
    border: none;
    font-size: var(--text-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-secondary);
}

.input__container__input__iconless {
    margin-left: 0;
}

.input__container__textarea {
    flex: 1;
    padding: 14px;
    border: none;
    resize: none;
    height: 128px;
    font-size: var(--text-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-secondary);
}

.input__container__input::placeholder {
    color: var(--font-color-gray2);
}

.input__container__input:disabled {
    background-color: transparent;
    color: var(--font-color-gray2);
}

.input__container__textarea::placeholder {
    color: var(--font-color-gray2);
}

.input__container__input:focus {
    outline: none;
}

.input__container__textarea:focus {
    outline: none;
}
