.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    background-color: var(--primary-blue-bg-color);
}

.header__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__logo {
    font-size: var(--title-size-medium);
    color: var(--font-color-contrast);
    font-weight: var(--font-weight-semiBold);
    text-decoration: none;
}

.header__logo__min {
    font-size: var(--title-size-medium);
    color: var(--font-color-contrast);
    font-weight: var(--font-weight-semiBold);
    text-decoration: none;
}

.header__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__list__item {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__list > .header__list__item[id="burger"] > button > span {
    color: var(--font-color-contrast);
    font-size: 32px;
}

.header__list > .header__list__item:not(:first-child) {
    margin-left: 32px;
}

.header__list__itemActive {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 26px;
    border-bottom: 3px solid var(--font-color-link);
    border-top: 3px solid transparent;
}

.header__list__item__link {
    font-size: var(--font-size-large);
    color: var(--font-color-contrast);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
}

.header__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__menu__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 16px 0;
}

.header__menu__item__link {
    font-size: var(--font-size-large);
    color: var(--font-color-contrast);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
}

@media screen and (max-width: 576px) and (max-width: 575px) {
    .header__logo {
        display: none;
    }

    .header__container {
        max-width: 343px;
    }

    .header__list > .header__list__item:not([id="burger"]) {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .header__logo__min {
        display: none;
    }

    .header__container {
        max-width: 544px;
    }

    .header__list > .header__list__item:not([id="burger"]) {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
    .header__logo__min {
        display: none;
    }

    .header__container {
        max-width: 738px;
    }

    .header__list > .header__list__item[id="burger"] {
        display: none;
    }
}

@media screen and (min-width: 1080px) {
    .header__logo__min {
        display: none;
    }

    .header__container {
        max-width: 1040px;
    }

    .header__list > .header__list__item[id="burger"] {
        display: none;
    }
}
